*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery{
    height: 400px;
    width: 30%;
    margin: 10px;
    overflow: hidden;
    position: relative;
}
img{
    height: 100%;
    width: 100%;
}
.gallery:hover img{
    transform: scale(1.5);
}
.gallery::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    height: 0;
    width: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: all 0.5s;
}
.gallery:hover::before{
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.icon{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 2;
}
.icon i{
    color:white ;
    font-size: 3rem;
    padding: 0.25rem;
}
.gallery:hover .icon{
    top: 0;
    right: 0;
    opacity: 1;
}
.icon i{
    transition: all 0.5s;
}
.icon i:hover{
    transform: rotate(360deg);
}